@page "/person/create"
@inject IPeopleRepository peopleRepository 
@inject NavigationManager navigationManager

<h3>Create Person</h3>

<PersonForm Person="person" OnValidSubmit="Create" />

@code {
	Person person = new Person();

	private async Task Create()
	{
		Console.WriteLine("Create Person");
		Console.WriteLine(person.Name);

		try
		{
			await this.peopleRepository.CreatePerson(person);
			navigationManager.NavigateTo("people");
		}
		catch (Exception ex)
		{
			Console.WriteLine(ex.Message);
		}
	}
}
