@page "/people"
@inject IPeopleRepository peopleRepository;

<h3>Index People</h3>

<div class="form-group">
	<a class="btn btn-info" href="person/create">New Person</a>
</div>

<GenericList TList="Peoples">
	<WholeListElementTemplate>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>
						Name
					</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var item in Peoples)
				{
					<tr>
						<td>
							<a class="btn btn-success">Edit</a>
							<button class="btn btn-danger">Danger</button>
						</td>
						<td>
							@item.Name
						</td>
					</tr>
				}
			</tbody>
		</table>
	</WholeListElementTemplate>
</GenericList>

@code {

	private List<Person> Peoples;

	protected async override Task OnInitializedAsync()
	{
		try
		{
			Peoples = await peopleRepository.GetPersons();
		}
		catch (Exception ex)
		{
			Console.WriteLine(ex.Message);
			throw;
		}
	}
}
