@page "/genre/create"
@inject IGenreRepository genreRepository;
@inject NavigationManager navigationManager; 

<h3>Create Genre</h3>

<GenreForm Genre="genre" OnValidSubmit="Create" />

@code {

	private Genre genre = new Genre();

	private void Create()
	{
		Console.WriteLine("Create Method");
		Console.WriteLine(genre.Name);

		try
		{
			genreRepository.CreateGenre(genre);
			navigationManager.NavigateTo("genres");
		}
		catch (Exception ex)
		{
			//...;
			Console.WriteLine(ex.Message);
		}
	}
}
