@page "/movie/create"
@inject NavigationManager navigationManager;
@inject IMovieRepository movieRepository;
@inject IGenreRepository genreRepository;

<h3>CreateMovie</h3>

@if (NotSelectedGenres != null)
{
	<MovieForm Movie="movie" NotSelectedGenres="NotSelectedGenres" OnValidSubmit="SaveMovie" />
}

@code {

	private Movie movie = new Movie();

	private List<Genre> NotSelectedGenres;

	protected async override Task OnInitializedAsync()
	{
		try
		{
			NotSelectedGenres = await this.genreRepository.GetGenres();
		}
		catch (Exception ex)
		{
			Console.WriteLine(ex.Message);
			throw;
		}
	}

	private async Task SaveMovie()
	{
		try
		{
			Console.WriteLine("Saving movie....");

			var movieId = await this.movieRepository.CreateMovie(movie);
			this.navigationManager.NavigateTo($"movie/{movieId}/{movie.Title.Replace(" ", "-")}");
		}
		catch (Exception ex)
		{
			Console.WriteLine(ex.Message);
		}
	}

}
